@charset "ISO-8859-1";
.x ul
	{list-style-type: none;
  	margin: 0;
  	padding: 10px;
	background-color:white;}
.x li 
	{display:inline-block;}	
.x a
	{color:white;
	text-decoration:none;
	width:100px;
	padding : 0px 20px;}
.square
	{width : 450px;
	 height : 200px;
	 margin : 0px;
	 padding: 10px;
	 position : relative;
	 background-image: url("C:/xampp/htdocs/IWT/src/Dilmi/Dilmi/images/bdsbg.jpg");
	 color: black; }
.button
	{width : 40x;
	 height : 20px;
	background-color:"#a28382";
	}
.y ul
	{list-style-type: none;
  	margin: 0;
  	padding: 0;}
.y li 
	{display:inline-block;}	
.content
	{width : 203px;
	 height : 20px;
	 margin : 0px;
	 position : relative;
	 color :black;}	
.contact
{
    background-color: #51667b;
    color: white;
    padding: 40px 10px 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}  
sm
{   
    position: relative;
    bottom: 0;
    background-color: transparent;
    height: auto;
    width: 100%;
    border-top: 1px solid rgb(175, 172, 172);
}

.sm-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem -3rem;
}

.socials li
{   
    display: inline;
    margin: 0 10px;    
}
 ul
  { margin: 2px 0 22px 17px;}
  
  ul li
  { list-style-type: circle;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 5px;}
  
  ol
  { margin: 8px 0 22px 20px;}
  
  ol li
  { margin: 0 0 11px 0;}
  
   #lg, #menubar, #site_content, #footer
  { margin-left: auto; 
    margin-right: auto;}
  

    #lg
    { width: 825px;
      position: relative;
      height: 168px;
      background: #9c0404 url('../images/lg.jpeg') no-repeat;}


      #lg #lg_text 
      {
        
        position: absolute; 
        top: 20px;
        left: 650px;}
      
      #lg h1, #lg h2
      { font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0;}
      
      #lg_text h1, #lg_text h1 a, #lg_text h1 a:hover 
      { padding: 22px 0 0 0;
        color: #FFF;
        letter-spacing: 0.1em;
        text-decoration: none;}
      
      #lg_text h1 a .lg_colour
      { color: #FAF700;}
      
      #lg_text h2
      { font-size: 100%;
        padding: 4px 0 0 0;
        color: #DDD;}

#menubar
{ width: 877px;
  height: 72px;
  padding: 0;
  background: #5A2C24 url(menu.png) repeat-x;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

  ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
  { color: #FFF;
    background: #451C1B url(menu_select.png) repeat-x;}
    
h2{
  	color : white;}
